

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    color: #313131;

    /**
    background:
        url('https://www.transparenttextures.com/patterns/beige-paper.png'),
        radial-gradient(circle at 15% 20%, #E53F25, transparent 80%),
        radial-gradient(circle at 80% 70%, #660426, transparent 80%),
        radial-gradient(circle at 50% 50%, #970E51, transparent 60%),
        radial-gradient(circle at 30% 60%, #E9560A, transparent 70%),
        radial-gradient(circle at 70% 30%, #571A70, transparent 345%);
    **/

    background: url('https://www.transparenttextures.com/patterns/graphy-dark.png');
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.play-animation {
    font-family: Monospaced, monospace;
    overflow: hidden;
    whitespace: nowrap;
    font-weight: normal;
    text-align: left;
}

.site-hello {
    font-size: 4rem;
    margin: 5vh 5vw;
    flex-grow: 1;
}

#hello {
    font-size: 3rem;
}

#hello:hover {
    font-weight: bold;
}


.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    margin: 15vh 5vw;
}

.navigation-item {
    margin: 0.5rem 0;
}