

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    color: #313131;

    /**
    background:
        url('https://www.transparenttextures.com/patterns/beige-paper.png'),
        radial-gradient(circle at 15% 20%, #E53F25, transparent 80%),
        radial-gradient(circle at 80% 70%, #660426, transparent 80%),
        radial-gradient(circle at 50% 50%, #970E51, transparent 60%),
        radial-gradient(circle at 30% 60%, #E9560A, transparent 70%),
        radial-gradient(circle at 70% 30%, #571A70, transparent 345%);
    **/

    background:
        /*radial-gradient(circle at 50dvw 50dvh, #FFFFFF, transparent 100%),*/
        url('https://www.transparenttextures.com/patterns/graphy-dark.png'),
        linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)),
        linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));

    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: Arial, sans-serif;

}

a {
    color: inherit;
    text-decoration: inherit;
    width: inherit;
}


.play-animation {
    font-family: Courier, monospace;
    overflow: hidden;
    whitespace: nowrap;
    font-weight: normal;
    text-align: left;
}

.site-hello {
    font-size: 4rem;
    margin: 10dvh 10dvw;
    flex-grow: 1;
}

#hello {
    font-size: 3rem;
}



.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    margin: 15dvh 10dvw;
}

.navigation-item {
    margin: 0.5rem 0;
    width: 100%;
}